<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>student-form</title>
</head>
<body>

    <form method="get" th:action="@{/student-details}" th:object="${student}">

        First Name: <input type="text" th:field="${student.firstName}" />
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="${student.firstName}" style="color:red" />
        <br><br>
        Last Name: <input type="text" th:field="${student.lastName}" />
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="${student.lastName}" style="color:red" />

        <br><br>
        Country:
        <select th:field="${student.country}">

            <option th:each="temp : ${countries}" th:value="${temp}" th:text="${temp}" />

        </select>

        <input type="submit">
    </form>
</body>
</html>